.left{
    width:20vw;
    border:1px solid black;
}

.right{
    width:20vw;
    border: 1px solid black;
}

.middle{
    width:60vw;
    border: 1px solid black;
}

.content-div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

#back-btn{
    margin:8px 24px;
    height: 24px;
}
#back-btn:hover{
    curson:pointer;
    
}